# /etc/systemd/system/informix@template.service 

# Louis Abel <tucklesepk@gmail.com>
# Ryan Hughes <ryan.a.hughes1@gmail.com>
# 7/25/2016
# Informix IDS Database Server systemd unit

# Information: Name this file informix@instance.service, where
#              instance is the name of the informix instance running.
#              The %i variable takes care of taking the name after the
#              "@" in the file name and goes from there.

#              "ifxdir" is a symbolic link in our case below. 
#              Example...
#              /opt/informix/ifxdir -> /opt/informix/informix/ifx.12.10.FC4

#              It is highly recommended to leave this service as forking.
#              In a normal scenario, Red Hat and other systemd developers
#              at least recommend "wrapper" scripts or processes that
#              do not need to fork. "oninit", as far as I'm aware cannot
#              (or does not) have an option to "nofork". httpd and others
#              have an option like this. oninit does not, so we're stuck here
#              using forking. Technically, the other processes that spawn off
#              are not children processes. Otherwise, a wrapper would work.
#              Since they are not children and they're all their own separate
#              process, we MUST use forking. This isn't a limitation, it's
#              just the way informix works, basically. 

#              You can specify other "Environment" tags, for example,
#              Environment="INFORMIXSQLHOSTS=..."
#              What's below is the bare minimum that can be used. 

[Unit]
Description=Informix IDS Database Server
After=network.target remote-fs.target nss-lookup.target

[Service]
Type=forking
User=informix

LimitMEMLOCK=50000000
LimitNOFILE=131072
LimitNPROC=131072
LimitCORE=unlimited

Environment="INFORMIXDIR=/opt/informix/ifxdir"
Environment="INFORMIXSERVER=%i"
Environment="ONCONFIG=onconfig.%i"
Environment="INFORMIXSQLHOSTS=/opt/informix/ifxdir/etc/sqlhosts"

ExecStart=/opt/informix/ifxdir/bin/oninit
ExecStop=/opt/informix/ifxdir/bin/onmode -ky

[Install]
WantedBy=multi-user.target

